.big-modal-change-info {
  @include modalBackGround;
  z-index: $milestone_modalZindex;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 550px;
    height: 650px;
    background-color: #ffffff;
    border-radius: 10px;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
    }

    .manager {
      position: relative;
      input {
        cursor: pointer;
      }

      .manager-dropdown {
        position: absolute;
        background-color: white;
        z-index: $select_hover_index;
        border: 1px solid $grayLineColor;
        border-radius: 5px;
        max-height: 340px;
        overflow: auto;

        .userInfo {
          width: 340px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.5rem;
          cursor: pointer;

          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }

    .border-box {
      border: 1px solid $grayLineColor;
      border-radius: 5px;
      padding: 0 0.5rem;
      width: 340px;
      height: 40px;
      margin: 0.5rem 0;
      position: relative;
      display: flex;
      align-items: center;

      .progress-input {
        width: 22px;
      }

      .pick-el {
        display: flex;
        gap: 0.3rem;
        position: absolute;
        right: 0.3rem;
        top: 25%;

        .dice {
          cursor: pointer;
          width: 22px;
        }
        .progress {
          cursor: pointer;
        }
      }

      .color-value {
        width: 80px;
        height: 20px;
      }

      .pick-color {
        display: grid;
        grid-template-columns: repeat(5, 17px);
        grid-template-rows: 17px 17px;
        position: absolute;
        top: 3px;
        right: 0.3rem;
        height: 30px;

        .color {
          cursor: pointer;
          width: 15px;
          height: 15px;
        }
      }
    }

    .date-box {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .block-change-btn {
      margin-top: 2rem;
      width: 100px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
