/* 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
body {
  font-family: 'Jua', sans-serif;
}

.Toastify__toast-body {
  font-family: 'Jua', sans-serif;
}

/* 색깔 */
$logoColor: #6078ea;
$mainColor: #4040ff;
$mainHoverColor: #4040ffaa;
$liteRedColor: #ff7070;
$hardRedColor: #ff0000;
$liteBlackColor: #555555;
$grayLineColor: #bebebe;
$modalBackgroundColor: #bebebe70;
$modalBackColor: #fafafa;
$projSetSelectColor: #f5f5f5;
$whiteColor: #ffffff;

/* 길이 */
$mainWidth: 80%;
$milestoneBlockHeight: 36px;

/* Z-index */
$nav_headerZindex: 1;
$milestone_modalZindex: 3;
$select_hover_index: 3;

/* btn */
.btn {
  background-color: $mainColor;
  padding: 0.8rem;
  border-radius: 8px;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: $mainHoverColor;
  }
}

// 전체 모달
.modal {
  display: flex;
}

//모달 테두리
@mixin modalBorder {
  border: 2px solid $liteBlackColor;
  border-radius: 5px;
  background-color: $whiteColor;
}

@mixin modalBackGround {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $modalBackgroundColor;
}

/* keyframe 설정 */
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  animation: #{$str};
}

/* animation */
@include keyframes(fadeInDown) {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//input 관리
input {
  border: none;
  font-family: 'Jua', sans-serif;
}

// flex justify-content: center align-item: center
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
