/* 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
body {
  font-family: 'Jua', sans-serif;
}

/* 색깔 */
$logoColor: #6078ea;
$mainColor: #4040ff;
$mainHoverColor: #4040ffaa;
$liteRedColor: #ff7070;
$liteBlackColor: #555555;
$grayLineColor: #bebebe;
$modalBackColor: #fafafa;

/* Z-index */

/* btn */
.btn {
  background-color: $mainColor;
  padding: 0.8rem;
  border-radius: 8px;
  color: white;

  &:hover {
    background-color: $mainHoverColor;
  }
}
