@charset "UTF-8";
/* 글꼴 */
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
body {
  font-family: "Jua", sans-serif;
}

.Toastify__toast-body {
  font-family: "Jua", sans-serif;
}

/* 색깔 */
/* 길이 */
/* 반응형width */
/* Z-index */
/* btn */
.btn {
  background-color: #4040ff;
  padding: 0.8rem;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(64, 64, 255, 0.6666666667);
}

.toggle-btn label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.toggle-btn [type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid #bebebe;
  border-radius: 1.25em;
  width: 2.25em;
  height: 1.25em;
}

.toggle-btn [type=checkbox]::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: #bebebe;
  transition: left 250ms linear;
}

.toggle-btn [type=checkbox]:checked {
  background-color: #4040ff;
  border-color: #4040ff;
}

.toggle-btn [type=checkbox]:checked::before {
  background-color: white;
  left: 1em;
}

.toggle-btn [type=checkbox]:disabled {
  border-color: #bebebe;
  opacity: 0.7;
  cursor: not-allowed;
}

.toggle-btn [type=checkbox]:disabled:before {
  background-color: #bebebe;
}

.toggle-btn [type=checkbox]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

.toggle-btn [type=checkbox]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) solid #4040ff;
}

.toggle-btn [type=checkbox]:enabled:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) #bebebe;
}

.modal {
  display: flex;
}

/* keyframe 설정 */
/* 환경별 mixin */
/* animation */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
input {
  border: none;
  font-family: "Jua", sans-serif;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width80p_flex_page_format {
  width: 100%;
  height: 80vh;
  margin-top: 6rem;
}
.width80p_flex_page_format .box_area {
  width: 80%;
  height: 100%;
  display: flex;
}

.nav_header {
  z-index: 1;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 5px 0px;
}
.nav_header .nav_header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.nav_header .nav_header_content .login_link:hover {
  color: rgba(64, 64, 255, 0.6666666667);
}
.nav_header .nav_header_content .user_icon {
  align-items: center;
  position: relative;
}
.nav_header .nav_header_content .user_icon img, .nav_header .nav_header_content .user_icon svg {
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.nav_header .nav_header_content .user_icon .modal_info_box {
  position: absolute;
  width: 280px;
  height: 150px;
  border-radius: 10px;
  right: 0px;
  background-color: #fafafa;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.nav_header .nav_header_content .user_icon .modal_info_box .username {
  text-align: right;
  margin: 0.4rem 1rem;
}
.nav_header .nav_header_content .user_icon .modal_info_box p {
  font-size: 16px;
  padding: 0 10px;
}
.nav_header .nav_header_content .user_icon .modal_info_box hr {
  margin-top: 0;
  width: 16rem;
}
.nav_header .nav_header_content .user_icon .modal_info_box .info_link_area {
  display: flex;
  align-items: center;
  padding: 0.4rem 1rem;
}
.nav_header .nav_header_content .user_icon .modal_info_box .info_link_area:hover {
  color: rgba(64, 64, 255, 0.6666666667);
}
.nav_header .nav_header_content .user_icon .modal_info_box .info_link_area:hover svg {
  stroke: rgba(64, 64, 255, 0.6666666667);
}

.intro_1 .top {
  margin: 10rem auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.intro_1 .top span {
  color: #4040ff;
}
.intro_1 .top .left {
  position: relative;
}
.intro_1 .top .left .title {
  width: 400px;
}
.intro_1 .top .left .title svg.intro .text {
  display: none;
}
.intro_1 .top .left .title svg.intro.go .text {
  font-size: 20px;
  text-transform: uppercase;
  display: block;
}
.intro_1 .top .left .title svg.intro.go .text-stroke {
  fill: none;
  stroke: #6078ea;
  stroke-width: 5px;
  stroke-dashoffset: -100;
  stroke-dasharray: 900;
  stroke-linecap: butt;
  stroke-linejoin: round;
  animation: dash 2.5s ease-in-out forwards;
}
.intro_1 .top .left .title svg.intro.go .text-stroke:nth-child(2) {
  animation-delay: 0s;
}
.intro_1 .top .left .title svg.intro.go .text-stroke:nth-child(3) {
  animation-delay: 0.6s;
}
.intro_1 .top .left .title svg.intro.go .text-stroke-2 {
  stroke: #4040ff;
  animation-delay: 0.9s;
}
.intro_1 .top .left .title svg.intro.go .text-stroke:nth-child(5) {
  animation-delay: 1.2s;
}
.intro_1 .top .left .title svg.intro.go .text-stroke:nth-child(6) {
  animation-delay: 1.5s;
}
@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
.intro_1 .top .left .description {
  margin-top: 2rem;
  font-size: 1.1rem;
}
.intro_1 .top .left .description p {
  margin-top: 0.2rem;
}
.intro_1 .top .left .start-btn {
  margin-top: 4.7rem;
  width: 100px;
}
.intro_1 .top .right {
  width: 350px;
}
.intro_1 .top .right .line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3rem;
  height: 50px;
}
.intro_1 .top .right .line .box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.2rem;
}
.intro_1 .top .right .line .middle {
  width: 50%;
}
.intro_1 .top .right .line .circle {
  width: 10%;
  border-radius: 9999px;
}
.intro_1 .top .right .line .long {
  width: 75%;
}
.intro_1 .top .right .line .short {
  width: 20%;
}
.intro_1 .top .right .line .non-reverse {
  border: 3px solid #4040ff;
  color: #4040ff;
}
.intro_1 .top .right .line .non-reverse:hover {
  border: 3px solid rgba(64, 64, 255, 0.6666666667);
  color: rgba(64, 64, 255, 0.6666666667);
}
.intro_1 .top .right .line .reverse {
  background-color: #4040ff;
  color: #ffffff;
}
.intro_1 .top .right .line .reverse:hover {
  background-color: rgba(64, 64, 255, 0.6666666667);
}
.intro_1 .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 800px;
  background: linear-gradient(#ffffff, #6078ea);
}
.intro_1 .bottom .notebook-non {
  opacity: 0;
}
.intro_1 .bottom .animation {
  animation: fadeInDown 2s;
}
.intro_1 .bottom .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-size: 1.3rem;
}
.intro_1 .bottom .description p {
  margin-top: 0.5rem;
}

.intro_2 .blue-area {
  background-color: #6078ea;
  justify-content: space-between;
  padding: 5rem;
  padding-bottom: 0rem;
  /* 애니메이션 */
}
.intro_2 .blue-area .top {
  display: flex;
}
.intro_2 .blue-area .top .description-area {
  width: 80%;
  color: #ffffff;
}
.intro_2 .blue-area .top .description-area .text-wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  padding: 25rem 0;
}
.intro_2 .blue-area .top .description-area .text-wrapper .title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.intro_2 .blue-area .top .description-area .text-wrapper .title span {
  color: blue;
}
.intro_2 .blue-area .top .description-area .text-wrapper .description {
  font-size: 1.2rem;
}
.intro_2 .blue-area .top .img-box {
  display: none;
  width: 50%;
  height: 40%;
  background-color: black;
  position: sticky;
  top: 25%;
  right: 10%;
  margin: 7rem 0;
  border-radius: 20px;
}
.intro_2 .blue-area .top .img-animation {
  display: block;
  animation: fadeIn 0.5s;
}
.intro_2 .blue-area .top .img-fadeout {
  opacity: 0;
  transition: "opacity 2000ms";
}
.intro_2 .blue-area .bottom {
  display: flex;
  margin-top: 20rem;
  position: relative;
  justify-content: right;
  margin-top: 30rem;
}
.intro_2 .blue-area .bottom .label {
  width: 5%;
  height: 40vh;
  margin: 0 1rem;
}
.intro_2 .blue-area .bottom .label:nth-child(1) {
  background: #ffc037;
}
.intro_2 .blue-area .bottom .label:nth-child(2) {
  background: #009aff;
}
.intro_2 .blue-area .bottom .label:nth-child(3) {
  background: #141e61;
}
.intro_2 .blue-area header.logo {
  position: absolute;
  top: 40%;
  left: -20%;
  width: 100%;
  transform: translateY(-50%);
}
.intro_2 .blue-area header.logo h1 {
  font-size: 8rem;
  color: #141e61;
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 900;
}
.intro_2 .blue-area .glitch-window {
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  color: #141e61;
  text-shadow: 2px 0 #6078ea, -1px 0 yellow, -2px 0 green;
  overflow: hidden;
  animation: crtMe 2500ms infinite linear alternate-reverse;
}
.intro_2 .grid-area {
  width: 100%;
  height: 100vh;
}
.intro_2 .grid-area .fixed-area {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15rem;
}
.intro_2 .grid-area .fixed-area .ment {
  font-size: 2rem;
}
.intro_2 .grid-area .fixed-area .grid-container {
  display: grid;
  width: 70%;
  height: 35%;
  grid-template-rows: repeat(2, 100%);
  grid-template-columns: repeat(4, 25%);
  margin-top: 5rem;
}
.intro_2 .grid-area .fixed-area .grid-container p {
  color: white;
  font-size: 0.8rem;
  margin-top: 1rem;
  padding: 0 1rem;
}
.intro_2 .grid-area .fixed-area .grid-container .item {
  margin: 10px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro_2 .grid-area .fixed-area .grid-container .item:nth-child(1) {
  grid-row: 1/3;
  grid-column: 1/3;
  background-color: #ffc037;
}
.intro_2 .grid-area .fixed-area .grid-container .item:nth-child(1) p {
  font-size: 1.5rem;
}
.intro_2 .grid-area .fixed-area .grid-container .item:nth-child(2) {
  grid-row: 1/2;
  grid-column: 3/5;
  background-color: #009aff;
  flex-direction: row;
}
.intro_2 .grid-area .fixed-area .grid-container .item:nth-child(2) p {
  font-size: 1rem;
  margin-top: 0;
}
.intro_2 .grid-area .fixed-area .grid-container .item:nth-child(3) {
  grid-row: 2/3;
  grid-column: 3/4;
  background-color: #9f0763;
  align-items: baseline;
}
.intro_2 .grid-area .fixed-area .grid-container .item:nth-child(4) {
  grid-row: 2/3;
  grid-column: 4/5;
  background-color: #ff7d00;
  align-items: baseline;
}
.intro_2 .fix {
  position: fixed;
  top: 0;
  z-index: -1;
}
.intro_2 .none-area {
  height: 100vh;
  width: 100vw;
  z-index: -2;
}
@keyframes crtMe {
  0% {
    clip: rect(31px, 9999px, 94px, 0);
  }
  10% {
    clip: rect(112px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(85px, 9999px, 77px, 0);
  }
  30% {
    clip: rect(27px, 9999px, 97px, 0);
  }
  40% {
    clip: rect(64px, 9999px, 98px, 0);
  }
  50% {
    clip: rect(61px, 9999px, 85px, 0);
  }
  60% {
    clip: rect(99px, 9999px, 114px, 0);
  }
  70% {
    clip: rect(34px, 9999px, 115px, 0);
  }
  80% {
    clip: rect(98px, 9999px, 129px, 0);
  }
  90% {
    clip: rect(43px, 9999px, 96px, 0);
  }
  100% {
    clip: rect(82px, 9999px, 64px, 0);
  }
}
.intro_3 .price-area {
  margin: 20rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro_3 .price-area p {
  font-size: 2rem;
  margin: 10rem;
}
.intro_3 .price-area p span {
  color: #4040ff;
}
.intro_3 .logo-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20rem;
}
.intro_3 .logo-area p {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.intro_3 .logo-area .btn {
  width: 15rem;
  font-size: 1.3rem;
}
.intro_3 .footer-area {
  display: flex;
  background-color: #d9d9d9;
  justify-content: space-between;
  padding: 2rem 1rem;
}
.intro_3 .footer-area .question {
  margin-top: 10rem;
}
.intro_3 .footer-area .right {
  width: 8rem;
}

.login_page {
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.login_page,
.particles {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.particles {
  position: absolute;
  background-color: #6078ea;
  z-index: 50;
  transform-style: preserve-3d;
  overflow: hidden;
}

@keyframes move {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    transform: translateY(45vw);
    opacity: 0;
  }
}
@keyframes rotate-container {
  0% {
    transform: perspective(1000px) translateZ(0px);
  }
  100% {
    transform: perspective(1000px) translateZ(100px);
  }
}
.login_box {
  background-color: #ffffff;
  width: 20rem;
  height: 30rem;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}
.login_box .title_area {
  padding-top: 50px;
}
.login_box .title_area .login_box_title {
  font-size: 25px;
}
.login_box .login_button_area {
  padding-top: 80px;
}
.login_box .login_button_area .login_button_img {
  width: 80%;
}

.milestone-header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 8rem;
  padding: 1rem;
  border: 2px solid #6078ea;
  border-radius: 1rem 1rem 0 0;
}
.milestone-header .left {
  display: flex;
  align-items: center;
}
.milestone-header .left .user-img {
  border-radius: 99px;
}
.milestone-header .left .project-info {
  margin-left: 2rem;
}
.milestone-header .left .project-info .name {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.milestone-header .left .project-info .view-select-box {
  display: flex;
  font-size: 1rem;
}
.milestone-header .left .project-info .view-select-box div:nth-child(1) {
  border-radius: 10px 0px 0px 10px;
  border-right: none;
}
.milestone-header .left .project-info .view-select-box div:nth-child(3) {
  border-radius: 0px 10px 10px 0px;
  border-left: none;
}
.milestone-header .left .project-info .view-select-box .select {
  background-color: #6078ea;
  color: white;
}
.milestone-header .left .project-info .view-select-box .none-select {
  color: #bebebe;
}
.milestone-header .left .project-info .view-select-box .none-select:hover {
  background-color: #6078ea;
}
.milestone-header .left .project-info .view-select-box .select-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid #6078ea;
  padding: 0.2rem 1rem;
  cursor: pointer;
}
.milestone-header .right {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.milestone-header .right .right-top {
  width: 30%;
  min-width: 130px;
  margin-left: auto;
  font-size: 1rem;
  color: #555555;
}
.milestone-header .right .right-top .content {
  width: 8rem;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.milestone-header .right .icon {
  cursor: pointer;
}
.milestone-header .right .right-bottom {
  display: flex;
}
.milestone-header .right .right-bottom .btn {
  padding: 0.5rem 1rem;
}
.milestone-header .right .right-bottom .search-bar {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 1rem;
  border: 2px solid #6078ea;
  border-radius: 5px;
  width: 80%;
  max-width: 342px;
}
.milestone-header .right .right-bottom .search-bar input {
  width: 85%;
  margin-left: 0.2rem;
}
.milestone-header .right .right-bottom .search-bar .search-icon {
  position: absolute;
  right: 0.2rem;
}

.milestone-body {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10rem;
  border: 2px solid #6078ea;
  border-top: none;
  height: 70vh;
  min-height: 300px;
}

.milestone-basic {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.milestone-basic .grid-container {
  display: grid;
  position: absolute;
  top: 0;
  width: 400%;
  height: 100%;
}
.milestone-basic .grid-container .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.milestone-basic .grid-container .text-area {
  border: 2px solid #bebebe;
  border-left: none;
  height: 20px;
}
.milestone-basic .grid-container .empty-area {
  border-right: 2px solid #bebebe;
  cursor: pointer;
  min-width: 20px;
}
.milestone-basic .grid-container .no-border {
  border-right: none;
}
.milestone-basic .block-container {
  position: absolute;
  top: 0;
  width: 400%;
  height: 100%;
}

.milestone-block {
  display: flex;
  align-self: center;
  justify-content: space-between;
  position: absolute;
  height: 32px;
  border-radius: 10px;
}
.milestone-block .block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.1rem 10px;
  cursor: pointer;
}
.milestone-block .block .left {
  width: 100%;
}
.milestone-block .block .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.milestone-block .handle {
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  cursor: col-resize;
}
.milestone-block .handle-left {
  left: 0;
}
.milestone-block .handle-right {
  right: 0;
}

.milestone-summary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
.milestone-summary .card-box {
  width: 23%;
  height: calc(70vh - 4rem);
  overflow: auto;
  border: 2px solid #4040ff;
  border-radius: 10px;
  padding: 1rem;
  position: relative;
}
.milestone-summary .card-box .title-box {
  display: flex;
  gap: 0.5rem;
  border-bottom: 2px solid #4040ff;
  width: 100%;
  height: 1.3rem;
}
.milestone-summary .card-box .title-box .cnt {
  border-radius: 20px;
  background-color: rgba(64, 64, 255, 0.6666666667);
  color: #ffffff;
  width: 23px;
  height: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.milestone-summary .milestone-block {
  position: inherit;
  width: 100%;
  margin-top: 0.5rem;
}

.milestone_calendar {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.milestone_calendar .calendar_header {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.milestone_calendar .calendar_header .header_area {
  width: 200px;
  display: flex;
}
.milestone_calendar .calendar_header .header_area .header_contents {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.milestone_calendar .calendar_header .header_area .header_contents svg {
  cursor: pointer;
}
.milestone_calendar .calendar_day {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #bebebe;
  border-radius: 3px 3px 0 0;
}
.milestone_calendar .calendar_day .days {
  width: 14.2857142857%;
  text-align: center;
  border: 1px solid #bebebe;
}
.milestone_calendar .calendar_cell {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.milestone_calendar .calendar_cell .cell_body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.milestone_calendar .calendar_cell .cell_body .row {
  width: 100%;
  height: 100%;
  display: flex;
}
.milestone_calendar .calendar_cell .cell_body .row .cell {
  position: relative;
  width: 14.2857142857%;
  border: 1px solid #bebebe;
  text-align: right;
}
.milestone_calendar .calendar_cell .cell_body .row .cell .date {
  position: absolute;
  top: 5px;
  right: 5px;
}
.milestone_calendar .calendar_cell .cell_body .row .cell .cell_content {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.milestone_calendar .calendar_cell .cell_body .row .cell .cell_content .block_area {
  width: 100%;
  height: 85%;
}
.milestone_calendar .calendar_cell .cell_body .row .cell .cell_content .block {
  width: calc(100% - 4px);
  height: calc(33.3333333333% - 10px);
  display: flex;
  align-items: center;
  margin: 0px 2px 5px 2px;
  text-align: left;
  padding-left: 15px;
}
.milestone_calendar .calendar_cell .cell_body .row .cell .cell_content .more_event_text {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.milestone_calendar .calendar_cell .cell_body .row .cell .cell_content .more_event_text p {
  cursor: pointer;
}
.milestone_calendar .calendar_cell .cell_body .row .cell.today span {
  color: #4040ff;
  font-weight: bolder;
}
.milestone_calendar .calendar_cell .cell_body .row .cell.valid span {
  color: #555555;
}
.milestone_calendar .calendar_cell .cell_body .row .cell.disabled span {
  color: #bebebe;
}

@media (min-width: 717px) and (max-width: 1023px) {
  .block_title {
    display: none;
  }
  .more_event_text {
    font-size: 10px;
  }
}
@media (max-width: 716px) {
  .block_title {
    display: none;
  }
  .more_event_text {
    font-size: 10px;
  }
}
.big-modal-change-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(190, 190, 190, 0.4392156863);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-modal-change-info .modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 650px;
  background-color: #ffffff;
  border-radius: 10px;
}
.big-modal-change-info .modal .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.big-modal-change-info .modal .border-box {
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 0 0.5rem;
  width: 340px;
  height: 40px;
  margin: 0.5rem 0;
  position: relative;
  display: flex;
  align-items: center;
}
.big-modal-change-info .modal .border-box .progress-input {
  width: 22px;
}
.big-modal-change-info .modal .border-box .pick-el {
  display: flex;
  gap: 0.3rem;
  position: absolute;
  right: 0.3rem;
  top: 25%;
}
.big-modal-change-info .modal .border-box .pick-el .dice {
  cursor: pointer;
  width: 22px;
}
.big-modal-change-info .modal .border-box .pick-el .progress {
  cursor: pointer;
}
.big-modal-change-info .modal .border-box .color-value {
  width: 80px;
  height: 20px;
}
.big-modal-change-info .modal .border-box .pick-color {
  display: grid;
  grid-template-columns: repeat(5, 17px);
  grid-template-rows: 17px 17px;
  position: absolute;
  top: 3px;
  right: 0.3rem;
  height: 30px;
}
.big-modal-change-info .modal .border-box .pick-color .color {
  cursor: pointer;
  width: 15px;
  height: 15px;
}
.big-modal-change-info .modal .date-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.big-modal-change-info .modal .block-change-btn {
  margin-top: 2rem;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenxt-menu-in-block {
  position: absolute;
  z-index: 3;
  width: 140px;
  overflow: hidden;
  border: 2px solid #555555;
  border-radius: 5px;
  background-color: #ffffff;
}
.contenxt-menu-in-block .item {
  position: flex;
  display: flex;
  line-height: 20px;
  text-align: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.2rem;
}
.contenxt-menu-in-block .item:hover {
  background: #fafafa;
}
.contenxt-menu-in-block li:nth-child(1n) {
  color: #4040ff;
}
.contenxt-menu-in-block li:nth-child(2) {
  color: #ff0000;
}

.small-modal-change-block-info {
  display: grid;
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
  border: 2px solid #555555;
  border-radius: 5px;
  background-color: #ffffff;
}
.small-modal-change-block-info .item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.context-menu-in-calendar {
  position: absolute;
  z-index: 3;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4040ff;
  cursor: pointer;
  border: 2px solid #555555;
  border-radius: 5px;
  background-color: #ffffff;
  line-height: 20px;
  text-align: center;
}
.context-menu-in-calendar:hover {
  background: #fafafa;
}

.gen_project_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(190, 190, 190, 0.4392156863);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gen_project_box .modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  height: 50vh;
  background-color: #ffffff;
  border-radius: 10px;
}
.gen_project_box .modal .title_area {
  margin-top: 1.5rem;
}
.gen_project_box .modal .title_area .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.gen_project_box .modal .contents_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
}
.gen_project_box .modal .contents_area .form_setting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1rem;
  margin: 1rem 0;
}
.gen_project_box .modal .contents_area .form_setting .border_box {
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 0 0.5rem;
  width: 340px;
  height: 40px;
  margin: 0.5rem 0;
  position: relative;
  display: flex;
  align-items: center;
}
.gen_project_box .modal .contents_area .form_setting .not_pass {
  border: 1px solid #FF424F;
  background-image: url("assets/svg/status.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}
.gen_project_box .modal .contents_area .form_setting .pass {
  border: 1px solid #5AC590;
  background-image: url("assets/svg/statusCheck.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}
.gen_project_box .modal .contents_area .form_setting .alert_message {
  font-size: 12px;
  color: #ff0000;
}
.gen_project_box .modal .contents_area .form_setting .pass_message {
  display: none;
}
.gen_project_box .modal .enter_modal_contents_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 70%;
  margin-top: 0.5rem;
}
.gen_project_box .modal .enter_modal_contents_area .img_area {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gen_project_box .modal .enter_modal_contents_area .img_area img {
  width: 60%;
  height: 90%;
}
.gen_project_box .modal .enter_modal_contents_area .project_info_area {
  width: 100%;
  height: 35%;
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.gen_project_box .modal .enter_modal_contents_area .project_info_area .info_preset {
  width: 80%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.gen_project_box .modal .enter_modal_contents_area .project_info_area .info_preset .info_category {
  width: 40%;
}
.gen_project_box .modal .block-change-btn {
  margin-top: 2rem;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 717px) and (max-width: 1023px) {
  .gen_project_box .modal {
    width: 80%;
    height: 50%;
  }
}
@media (max-width: 716px) {
  .gen_project_box .modal {
    width: 80%;
    height: 70%;
  }
  .gen_project_box .modal .block-change-btn {
    margin-top: 1rem;
  }
}

.big-modal-show-blocks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(190, 190, 190, 0.4392156863);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.big-modal-show-blocks .modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 650px;
  background-color: #ffffff;
  border-radius: 10px;
}
.big-modal-show-blocks .modal .title_area {
  margin-top: 1.5rem;
}
.big-modal-show-blocks .modal .title_area .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.big-modal-show-blocks .modal ::-webkit-scrollbar {
  display: none;
}
.big-modal-show-blocks .modal .contents_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 70%;
  margin-top: 0.5rem;
  overflow-y: auto;
}
.big-modal-show-blocks .modal .contents_area .todo_block {
  width: 50%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  border-radius: 3px;
}
.big-modal-show-blocks .modal .contents_area .todo_block .todo_block_title_area {
  display: flex;
  align-items: center;
  width: calc(100% - 30px);
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.big-modal-show-blocks .modal .contents_area .todo_block .img_area {
  width: 30px;
  height: 100%;
}
.big-modal-show-blocks .modal .contents_area .todo_block .img_area img {
  width: 30px;
  height: 100%;
}
.big-modal-show-blocks .modal .close_btn_area {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.big-modal-show-blocks .modal .close_btn_area .block-change-btn {
  margin-top: 1rem;
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 717px) and (max-width: 1023px) {
  .big-modal-show-blocks .modal {
    width: 80%;
    height: 50%;
  }
}
@media (max-width: 716px) {
  .big-modal-show-blocks .modal {
    width: 80%;
    height: 70%;
    font-size: 13px;
  }
}

.editing-text-block {
  background: none;
  color: rgba(0, 0, 0, 0.4666666667);
  width: 100%;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.mypage {
  width: 100%;
  height: 80vh;
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mypage .mypage_area {
  width: 80%;
  height: 100%;
  display: flex;
}
.mypage .mypage_area .mypage_contents {
  width: 100%;
  height: 100%;
}
.mypage .mypage_area .mypage_contents .nav {
  width: 100%;
  height: 4em;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mypage .mypage_area .mypage_contents .nav .text_area {
  font-size: 20px;
  width: 40%;
}
.mypage .mypage_area .mypage_contents .nav .btn_area {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  font-size: 13px;
}
.mypage .mypage_area .mypage_contents .nav .btn_area .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 18em;
}
.mypage .mypage_area .mypage_contents .nav .btn_area .btn p {
  margin: 0.1em 0.4em 0 0.4em;
}
@media (max-width: 716px) {
  .mypage .mypage_area .mypage_contents .nav .btn_area {
    font-size: 1px;
    width: 60%;
    justify-content: center;
  }
  .mypage .mypage_area .mypage_contents .nav .btn_area .btn {
    padding: 0.5rem;
    width: 65em;
  }
  .mypage .mypage_area .mypage_contents .nav .btn_area .btn .svg {
    display: none;
  }
}
@media (min-width: 717px) and (max-width: 1023px) {
  .mypage .mypage_area .mypage_contents .nav .btn_area {
    width: 50%;
    font-size: 13px;
  }
  .mypage .mypage_area .mypage_contents .nav .btn_area .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 12em;
  }
  .mypage .mypage_area .mypage_contents .nav .btn_area .btn p {
    margin: 0.1em 0.4em 0 0.4em;
  }
}
.mypage .mypage_area .mypage_contents ::-webkit-scrollbar {
  display: none;
}
.mypage .mypage_area .mypage_contents .project_list_area_column {
  width: 100%;
  height: 80%;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-y: auto;
}
.mypage .mypage_area .mypage_contents .project_list_area_column .project_box {
  width: calc(33.3333333333% - 20px);
  height: 50%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.mypage .mypage_area .mypage_contents .project_list_area_column .project_box img {
  width: 100%;
  height: 80%;
  border: 3px solid #ffffff;
  border-radius: 10px;
}
.mypage .mypage_area .mypage_contents .project_list_area_column .project_box:hover img {
  overflow: auto;
  border: 3px solid #4040ff;
}
@media (max-width: 716px) {
  .mypage .mypage_area .mypage_contents .project_list_area_column .project_box {
    width: 100%;
  }
}
@media (min-width: 717px) and (max-width: 1023px) {
  .mypage .mypage_area .mypage_contents .project_list_area_column .project_box {
    width: calc(50% - 20px);
  }
}

.projectset-body {
  width: 80%;
  margin: 10rem auto;
  height: 70vh;
  min-height: 300px;
  display: flex;
  justify-content: space-between;
}

.project-set-select {
  width: 300px;
  margin-bottom: 10rem;
}
.project-set-select .proj-info {
  display: flex;
  border-bottom: 1px solid #bebebe;
  padding: 1rem;
}
.project-set-select .proj-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}
.project-set-select .proj-text .title {
  font-size: 1.5rem;
}
.project-set-select .proj-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5rem auto;
  width: 270px;
  background-color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}
.project-set-select .proj-select .select-item {
  display: flex;
  width: 135px;
  height: 135px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(190, 190, 190, 0.6666666667);
  border-bottom: none; /* 1행과 2행의 아래쪽 경계 없애기 */
  border-right: none;
  color: #bebebe;
}
.project-set-select .proj-select .select-item:nth-child(2n-1) {
  border-left: none;
}
.project-set-select .proj-select .select-item:nth-child(1) {
  border-top: none;
}
.project-set-select .proj-select .select-item:nth-child(2) {
  border-top: none;
}
.project-set-select .proj-select .select-item:hover {
  color: #4040ff;
  border: 2px solid #4040ff;
  border-radius: 10px;
  background-color: white;
  width: 120%;
  height: 120%;
  z-index: 3;
  margin-left: -10%;
  margin-top: -10%;
}
.project-set-select .proj-select .select-item:hover .select-img path {
  stroke: #4040ff;
}
.project-set-select .proj-select .select-item:hover .fill-svg path {
  fill: #4040ff;
}
.project-set-select .proj-select .select {
  color: #4040ff;
  border: 2px solid #4040ff !important;
  border-radius: 10px;
  background-color: white;
  width: 120%;
  height: 120%;
  z-index: 3;
  margin-left: -10%;
  margin-top: -10%;
}
.project-set-select .proj-select .select .select-img path {
  stroke: #4040ff;
}
.project-set-select .proj-select .select .fill-svg path {
  fill: #4040ff;
}
.project-set-select .proj-select .select-img {
  width: 50px;
  height: 50px;
}
.project-set-select .proj-select .select-item p {
  margin-top: 0.5rem;
}

.proj-set-body {
  width: 80%;
  height: 600px;
  margin-left: 5rem;
  padding: 2rem;
  border: 2px solid rgba(64, 64, 255, 0.6666666667);
  border-radius: 20px;
  overflow: scroll;
}
.proj-set-body .proj-set-info .name-input {
  border: 2px solid black;
  border-radius: 10px;
  width: 60%;
  margin: 1rem 0 2rem 0;
  padding: 0.2rem;
}
.proj-set-body .proj-set-info .name-input:focus {
  border: 2px solid rgba(64, 64, 255, 0.6666666667);
}
.proj-set-body .proj-set-info .container {
  position: relative;
  margin-top: 1rem;
}
.proj-set-body .proj-set-info .container img {
  border-radius: 10px;
  width: 300px;
}
.proj-set-body .proj-set-info .container .btn-upload {
  position: absolute;
  bottom: 0px;
  left: 320px;
  width: 75px;
  height: 28px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.proj-set-body .proj-set-info .container #proj-img-file {
  display: none;
}
.proj-set-body .proj-set-info .success {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.proj-set-body .proj-set-private .title {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  font-size: 20px;
}
.proj-set-body .proj-set-code .title {
  font-size: 20px;
}
.proj-set-body .proj-set-code .flex-box {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
  margin-top: 2rem;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.3rem;
}
.proj-set-body .proj-set-code .flex-box:hover {
  border: 2px solid rgba(64, 64, 255, 0.6666666667);
}
.proj-set-body .proj-set-code .flex-box .save-btn {
  cursor: pointer;
}
.proj-set-body .proj-set-code .flex-box .save-btn:hover path {
  stroke: rgba(64, 64, 255, 0.6666666667);
}
.proj-set-body .proj-set-member .title {
  font-size: 20px;
  margin-bottom: 2rem;
}
.proj-set-body .proj-set-member .user-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.proj-set-body .proj-set-member .user-block .flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.proj-set-body .proj-set-member .user-block .trash {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.proj-set-body .proj-set-member .user-block .trash path {
  stroke: #ff7070;
  stroke-width: 3px;
}
.proj-set-body .proj-set-delete p:nth-of-type(1) {
  font-size: 20px;
  margin-bottom: 2rem;
}
.proj-set-body .proj-set-delete .del-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  border-radius: 15px;
  background-color: #ff7070;
  margin-top: 3rem;
}

.manage_box {
  border: 3px solid #6078ea;
  border-radius: 20px;
}
.manage_box .contents_area {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.manage_box .contents_area .user_info_area {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bebebe;
}
.manage_box .contents_area .user_info_area .user_img {
  width: 11vw;
  height: 9vh;
}
.manage_box .contents_area .user_info_area .user_img img {
  width: 10vw;
  height: 8vh;
}
.manage_box .contents_area .user_info_area .title_area {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.manage_box .contents_area .user_info_area .title_area .title_text {
  font-size: 20px;
}
.manage_box .contents_area .user_info_area .title_area .username_text {
  font-size: 15px;
}
.manage_box .contents_area .manage_user_name_area {
  width: 100%;
  flex-direction: column;
}
.manage_box .contents_area .manage_user_name_area .manage_user_name_input {
  width: 100%;
  height: 35px;
  margin-top: 10px;
  border: 2px solid #6078ea;
  border-radius: 10px;
}
.manage_box .contents_area .manage_user_img_area {
  width: 100%;
  flex-direction: column;
  position: relative;
}
.manage_box .contents_area .manage_user_img_area .manage_user_imgbox {
  width: 100%;
  height: 35vh;
  margin-top: 20px;
  border: 2px solid #6078ea;
  border-radius: 10px;
}
.manage_box .contents_area .manage_user_img_area .manage_user_imgbox .img_area {
  width: 100%;
  height: 100%;
}
.manage_box .contents_area .manage_user_img_area .manage_user_imgbox .img_area img, .manage_box .contents_area .manage_user_img_area .manage_user_imgbox .img_area svg {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.manage_box .contents_area .manage_user_img_area .manage_user_imgbox label {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.manage_box .contents_area .manage_user_img_area .manage_user_imgbox label .btn_imgupload {
  font-size: 15px;
  display: flex;
  padding: 0.6rem;
}
.manage_box .contents_area .manage_user_img_area .manage_user_imgbox input[type=file] {
  width: 0;
  height: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.manage_box .contents_area .manage_user_text {
  font-size: 20px;
  width: 100%;
}
.manage_box .contents_area .btn_complete {
  width: 80px;
  padding: 0.5rem;
  text-align: center;
  font-size: 16px;
}
@media (max-width: 716px) {
  .manage_box .contents_area {
    width: 60%;
  }
  .manage_box .contents_area .user_info_area .title_area {
    width: 70%;
  }
}
@media (min-width: 717px) and (max-width: 1023px) {
  .manage_box .contents_area {
    width: 60%;
  }
  .manage_box .contents_area .user_info_area .title_area {
    width: 70%;
  }
}