@import 'common.scss';

// 헤더
@import 'components/modules/header/header.scss';

// 소개페이지
@import 'pages/_introduce.scss';
@import 'components/introduce/intro_1.scss';
@import 'components/introduce/intro_2.scss';
@import 'components/introduce/intro_3.scss';

// 로그인 페이지
@import 'components/login/login_box.scss';
@import 'pages/login.scss';

// 마엘스톤
@import 'components/Milestone/milestoneHeader.scss';
@import 'components/Milestone/milestoneBody.scss';
@import 'components/Milestone/milestoneBasic.scss';
@import 'components/Milestone/milestoneBlock.scss';
@import 'components/Milestone/smallModalChangeInfo.scss';
@import 'components/Milestone/contextMenuInBlock.scss';

@import 'components/Milestone/bigModalChangeInfo.scss';
