.contenxt-menu-in-block {
  position: absolute;
  z-index: $milestone_modalZindex;
  width: 140px;

  overflow: hidden;

  @include modalBorder;

  .item {
    position: flex;
    display: flex;
    line-height: 20px;
    text-align: center;
    align-items: center;
    padding: 0.5rem;

    gap: 0.2rem;

    &:hover {
      background: $modalBackColor;
    }
  }

  li:nth-child(1n) {
    color: $mainColor;
  }

  li:nth-child(2) {
    color: $hardRedColor;
  }
}
