.milestone-block {
  display: flex;
  align-self: center;
  justify-content: space-between;

  position: absolute;

  height: 32px;

  border-radius: 10px;

  .block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0.1rem 10px;

    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      cursor: pointer;
    }
  }

  .handle {
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    cursor: col-resize;
  }
  .handle-left {
    left: 0;
  }

  .handle-right {
    right: 0;
  }
}
