.milestone-block {
  max-width: 80vw;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  border-radius: 10px;
  padding: 0.1rem 0.3rem;

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
}
