.milestone-header {
  display: flex;
  justify-content: space-between;
  width: $mainWidth;
  margin: 0 auto;
  margin-top: 8rem;
  padding: 1rem;
  border: 2px solid $logoColor;
  border-radius: 1rem 1rem 0 0;

  .left {
    display: flex;
    align-items: center;

    .user-img {
      border-radius: 99px;
    }

    .project-info {
      margin-left: 2rem;
      .name {
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }
      .view-select-box {
        display: flex;
        font-size: 1rem;
        div:nth-child(1) {
          border-radius: 10px 0px 0px 10px;
          border-right: none;
        }
        div:nth-child(3) {
          border-radius: 0px 10px 10px 0px;
          border-left: none;
        }

        .select {
          background-color: $logoColor;
          color: white;
        }
        .none-select {
          color: $grayLineColor;
          &:hover {
            background-color: $logoColor;
          }
        }

        .select-btn {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          border: 2px solid $logoColor;
          padding: 0.2rem 1rem;
          cursor: pointer;
        }
      }
    }
  }

  .right {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .right-top {
      width: 30%;
      min-width: 130px;
      margin-left: auto;
      font-size: 1rem;
      color: $liteBlackColor;

      .content {
        width: 8rem;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .icon {
      cursor: pointer;
    }

    .right-bottom {
      display: flex;
      .btn {
        padding: 0.5rem 1rem;
      }
      .search-bar {
        display: flex;
        align-items: center;
        position: relative;
        margin-left: 1rem;
        border: 2px solid $logoColor;
        border-radius: 5px;
        width: 80%;
        max-width: 342px;
        input {
          width: 85%;
        }
        .search-icon {
          position: absolute;
          right: 0.2rem;
        }
      }
    }
  }
}
