.small-modal-change-block-info {
  position: absolute;
  top: $milestoneBlockHeight;
  right: 0;
  z-index: $milestone_modalZindex;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
  -moz-box-sizing: border-box; /* partially supported */
  box-sizing: border-box; /* here is what I added */

  border: 2px solid $liteBlackColor;
  border-radius: 5px;
  background-color: $whiteColor;

  .item {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
